
# ENVIRONMENT=production
ENVIRONMENT=development

# DATABASE_URL=postgresql://postgres:123456@localhost:5432/DATABASE

# NEON Database Credentials
DATABASE_URL=

PORT=5000
BCRYPT_SALT_ROUNDS=12
JWT_SECRET=4234a4b588639ca5ab62768f5ba44ae62a52
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=4f3e1a830e65beefa0c62082b3
JWT_REFRESH_EXPIRES_IN=7d
JWT_ALGORITHM=HS256
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=your gmail address
# SMTP_PASS=
# FRONTEND_URL=https://worklyjob.vercel.app
FRONTEND_URL=http://localhost:3000


#cloudinary config
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# google oauth config
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=